services:
  nginx:
    image: nginx:alpine
    ports:
      - "9999:9999"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    networks:
      - app-network
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "32MB"

  api1:
    build: .
    environment:
      - PORT=8080
      - REDIS_ADDR=redis:6379
      - GOMAXPROCS=1
      - GOGC=100
    networks:
      - app-network
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "128MB"

  api2:
    build: .
    environment:
      - PORT=8080
      - REDIS_ADDR=redis:6379
      - GOMAXPROCS=1
      - GOGC=100
    networks:
      - app-network
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "128MB"

  redis:
    image: redis:7-alpine
    command: >
      redis-server 
      --save ""
      --appendonly no
      --maxmemory 60mb
      --maxmemory-policy allkeys-lru
      --tcp-keepalive 60
      --timeout 0
      --databases 1
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "62MB"

networks:
  app-network:
    driver: bridge
  payment-processor:
    external: true
